* {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-size: 18px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

img {
    height: auto;
    width: 500px;
    margin: 50px;
}

ol {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: auto;
}